.keyboard{
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    background-color: black;
    height:125px;
    padding:5px;
  }
  
  .keyboard-keys{
    text-align: center;
  }
  
  .key{
    border-radius: 5px;
    width:6%;
    border:none;
    margin: 2px;
  }
  
  .key:active{
    background-color: red;
  }
  
  .key-wide{
    width: 9.36%;
  }