body {
  text-align: center;
  /* padding: 2em; */
}

#textBox {
  border:solid;
  border-style: none none solid none;
  display: inline-block;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#textBox:empty::before{
  content: "TYPE";
  animation: blinker 1s linear infinite;
}

ul {
  list-style: none;
  max-height:85%;
  -webkit-column-count: 5;  /* Chrome/Opera, Safari */
  -moz-column-count: 5; /* Mozilla Firefox */
  column-count: 5;
  column-gap: normal;
  padding: 0;
  color: whitesmoke;
}

li{
  margin: 10px;
}

#keys{
  background-color: #414141;
}

html{
  background-color: #414141;
}

h1{
  color: whitesmoke;
}
nav{
  background-color: black;
}

#daily-text{
  color: whitesmoke;
}