/* Code for the main instruction popup */

/* Covers the entire body of the popup */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS for main body/content square */
.popup{
    background-color:white;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
    z-index: 10;
}
/* CSS for popup text */
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    color: black;
}
.popup h1{
    color: black;
}
/* CSS for popup overlay (NOTE: disables everything in the background) */
.container-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgb(0, 0, 0, 0.5);
    z-index: 5;
}