body {
  text-align: center;
  /* padding: 2em; */
}

#textBox {
  border:solid;
  border-style: none none solid none;
  display: inline-block;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#textBox:empty::before{
  content: "TYPE";
  animation: blinker 1s linear infinite;
}

ul {
  list-style: none;
  max-height:85%;
  -webkit-column-count: 5;  /* Chrome/Opera, Safari */
  -moz-column-count: 5; /* Mozilla Firefox */
  column-count: 5;
  column-gap: normal;
  padding: 0;
  color: whitesmoke;
}

li{
  margin: 10px;
}

#keys{
  background-color: #2E5984;
}

html{
  background-color: #2E5984;
}

h1{
  color: whitesmoke;
}
nav{
  background-color: black;
  padding-left: 0.5%;
  
}

#daily-text{
  color: whitesmoke;
}
h3{
  color: whitesmoke;
}

h6{
  color: whitesmoke;
}

table.center{
  color: black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 5px;
  
}

th, td{
  background-color: #bdbdbd;
}

#user{
  color: #2e5dff;
  font-weight: bold;
}

#myImg{
  width: 25px;
  height: 25px;
}
