/* The CSS was from https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/ howerver,
the actual content was modified to fit our game*/

/* Changed size of timer circle */
.base-timer {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 1%;
  top: 10%;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(0, 255, 64);
  animation: blinker 1s linear infinite;
}

.base-timer__path-remaining.orange {
  color: orange;
  animation: blinker 0.5s linear infinite;
}

.base-timer__path-remaining.red {
  color: red;
  animation: blinker 0.25s linear infinite;
}

/* Made edits to the timer, particularly size, position and colour */
.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: whitesmoke;
}

@keyframes blinker {
  /* Made timer slower and reduced opacity  */
  50% {
    opacity: 0.5; 
  }
}