<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> blank home page </title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/Styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/keyboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/Popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/countdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/startButton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/timer.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body id="keys">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg" id="nav">
        <audio src="../static/WordRush.mp3" id="audio" preload="auto" loop></audio>
        <button class="nav-link" type="button" onclick="imageChange()"> <img src="https://w7.pngwing.com/pngs/131/14/png-transparent-audio-mute-sound-speaker-volume-basic-web-elements-icon.png" id="myImg" width="25" height="25" /></button>
        {% if current_user.is_anonymous %}
            <a class="nav-link" href="{{ url_for('login') }}">LOGIN</a>
            <a class="nav-link" href="{{ url_for('register') }}">REGISTER</a>
        {% else %}
            <a class="nav-link" href="{{ url_for('matchHistory') }}">Match History</a>
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            <a class="nav-link" href="{{ url_for('daily') }}">Daily</a>
        {% endif %}
            <a class="nav-link" href="{{ url_for('free_play') }}">Free Play</a>
            <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
            <a class="nav-link" id="reset" href="{{ url_for('free_play') }}" hidden="true"> Play Again!</a>
            <button onclick="share()" hidden="true" id="shareBtn">Share</button>>
        {% if not current_user.is_anonymous %}
        <a class="nav-link" href="{{ url_for('matchHistory') }}"> Hello, {{current_user.username}}</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static',filename='JS/app.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/keyboard.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/validator.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/pointSystem.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/randomiser.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/timer.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/countdown.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/Popup.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/submit.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/imageChange.js') }}"></script>
</div>
</body>
</html>