{% extends "base.html" %}
{% block content %}
    {% if freeplay %}
        <p hidden = "true" id="booleanStatement">True</p>
        <h1 id="mode">Free Play Mode</h1>
    {% else %}
        <p hidden = "true" id="booleanStatement">False</p>
        <h1 id="mode">Daily Mode</h1>
    {% endif %}
    <div class="container-popup">
        <div class="popup">
            <h2>Instructions</h2>
            <p>Welcome to Word Rush!</p>
            <p>How to play!</p>
            <p>(click anywhere to close)</p>
        </div>
    </div>
    <div id= "countdown" class="startB"></div>
    <div id="timer"></div>
    <div class="container-fluid">
        <h1 id="letters"></h1>
        <h1 id="textBox"></h1>
        {% if not Played %}
        <div id= "startgame">
            <button class="button" id= "begin">START GAME!</button>
        </div>
        {% else %}
        <p id="daily-text">It appears you've already played the daily game today. Please play the free play mode.</p>
        {% endif %}
        <ul id = "list"></ul>
        <div id="main" class = "keyboard"></div>
        {% endblock %}