{% extends "base.html" %}
{% block content %}
    {% if freeplay %}
        <p hidden = "true" id="booleanStatement">True</p>
        <h1 id="mode">Free Play Mode</h1>
    {% else %}
        <p hidden = "true" id="booleanStatement">False</p>
        <h1 id="mode">Daily Mode</h1>
    {% endif %}
    <div class="container-popup">
        <div class="popup">
            <h2>Welcome to Word Rush!</h2>
            <p>This is a typing based game</p>
            <p>You should definitely make an account to unlock daily mode</p>
            <h4>How to play!</h4>
            <p>You need to type as many words as you can in a minute! 
            However, the words need to contains specified letters in order to be counted</p>
            <p>For example: The letters TH<br>
            POOL = 0pt (doesn't have A or H)<br>
            HER = 35pt (contains a H so a base of 10*(number of letters)pt + 5 for each use of the specified letters)<br>
            HATCH = 65pt (valid word, so base of 50pt. Plus 15pt for 3 occurrence of T or H)<br>
            THAT = 110pt (you get a base of 40pt, plus 15 for using T or H 3 times. BUT since TH are together you get a 2 times multiplier, 55*2 equal 110)</p>

        </div>
    </div>
    <div id= "countdown" class="startB"></div>
    <div id="timer"></div>
    <div class="container-fluid">
        <h1 id="letters"></h1>
        <h1 id="textBox"></h1>
        {% if not Played %}
        <div id= "startgame">
            <button class="button" id= "begin">START GAME!</button>
        </div>
        {% else %}
        <p id="daily-text">It appears you've already played the daily game today. Please play the free play mode.</p>
        {% endif %}
        <ul id = "list"></ul>
        <div id="main" class = "keyboard"></div>
        {% endblock %}