{% extends "base.html" %}
{% block content %}
    <div class="html-center">
        <h1>REGISTER</h1>
        <form method="POST" action="/register">
            {{ form.hidden_tag() }}
            {%if username %}
            <h3>{{ username }} has been taken</h3>
            {% endif %}
            <h3>Username</h3>{{ form.username }} <br>
            <h3>Password</h3>{{ form.password }} <br>
            <h3></h3>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}