<!-- HTML for Register page -->

{% extends "base.html" %}
{% block content %}
    <div class="html-center">
        <h1>REGISTER</h1>
        <form method="POST" action="/register">
            {{ form.hidden_tag() }}
            {%if username %}
            <!-- Username check -->
            <h3>{{ username }} has been taken</h3>
            {% endif %}
            <!-- Textbox and input for register -->
            <h3>Username</h3>{{ form.username }} <br>
            <h3>Password</h3>{{ form.password }} <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}