<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <center><h1>REGISTER</h1></center>
        <form method="POST" action="/register">
            {{ form.hidden_tag() }}
            {%if username %}
            <center><h3>{{ username }} has been taken</h3></center>
            {% endif %}
            <center><h3>username</h3>{{ form.username }}</center> <br>
            <center><h3>password</h3>{{ form.password }}</center> <br>
            <center><button type="submit">submit</button></center>
        </form>
    </div>

</body>
</html>